#ez-toc-container {
  border: 1px solid black;
  border-radius: 16px;
  width: max-content;
  max-width: 100%;
  padding: 8px 12px;
  margin-bottom: 24px;
  display: none;
}

#ez-toc-container li {
  list-style: none;
}

#ez-toc-container li a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
}

#ez-toc-container .ez-toc-title {
  font-size: 1.2rem;
  font-weight: 600;
}

#toc_container {
  border: 1px solid black;
  border-radius: 16px;
  width: max-content;
  max-width: 100%;
  padding: 8px 12px;
  margin-bottom: 24px;
}

#toc_container li {
  list-style: none;
}

#toc_container ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

#toc_container ul li ul li a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  padding-bottom: 0px !important;
  padding-top: 8px;
}

#toc_container .toc_title {
  font-size: 1.2rem;
  font-weight: 600;
}
